{% extends 'master.html' %}

{% load utility %}
{% load static %}

{% block page_title %}
Природные камни Урала
{% endblock %}
   
{% block page_styles %}
<link rel="stylesheet" href="{% static 'products/style.css' %}">
{% endblock %}
 
{% block page_content %}
<i>Уважаемый гость, рады приветствовать Вас на нашем сайте!</i>
<h1>Главная</h1>
<h2>Украшения из натурального камня</h2>

{% for product in products %}
  <div class="block">
    <a href="#">
      <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
      <div class="text">
        <h3>{{ product.category.name }}</h3>
        <h4>{{ product.name }}</h4>
        <p>{{ product.description }}</p>
      </div>
    </a>
  </div>
{% endfor %}

<img src="/static/img/trendy-sezona.jpg" alt="kamni">
{% endblock %}   
