<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Каталог Природные камни Урала</title>
</head>
<body>
    <ul>
        <li><a href="index.html">Главная</a></li>
        <li><a href="contacts.html">Контакты</a></li>        
        <li><a href="#">Каталог</a></li>
            
    </ul>
    <hr>
    <h1>Каталог</h1>
    <h2>Аквамарин</h2>
    <ur>
        <li><a href="products/phone.html">Товар каталога</a></li>    
    </ur>    
    <hr>
    <footer>@ «Все права защищены»</footer>
</body>
</html>